h1{
    background-color: #023047;
    border: 5px solid black;
    color: #f1faee;
    width: 300px;
    padding: 0.7em;
    font-size: 1.8em;
    text-align: center;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
section:first-of-type h1:nth-of-type(1):hover
{
    background-color: #219ebc;
    transform: rotate(180deg);
    transition: transform ease-in-out 2s;
}
h1:nth-child(3n)
{
    background-color: #ffb703;
}
h1:nth-child(4n)
{
    background-color: #fb8500;
}
section:first-of-type h1:nth-of-type(2):hover
{
    background-color: #219ebc;
    transform-origin: bottom left;
    transform: scale(0.5);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 2s;
}
section:first-of-type h1:nth-of-type(3):hover
{
    background-color: #219ebc;
    transform: translate(100px , 200px);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 2s;
}
section:first-of-type h1:nth-of-type(4):hover
{
    background-color: #219ebc;
    transform: translate(-100px);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 2s;
}
section:nth-of-type(2) h1:nth-of-type(1):hover
{
    background-color: #219ebc;
    transform: skew(30deg);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 0.5s;
}
section:nth-of-type(2) h1:nth-of-type(2):hover
{
    background-color: #219ebc;
    transform: rotate(45deg) translate(100px) skew(18deg);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 0.5s;
}
section:nth-of-type(2) h1:nth-of-type(3):hover
{
    background-color: #219ebc;
    transform: rotate(1turn);
    /* transform: scaleX(0.5);
    transform: scale(0.5 , 1); */
    transition: transform ease-in-out 1s;
}